body {
    margin: 0;
}

a {
    text-decoration: none;
}

#content_wrapper {
    width: 100%;
}

#space_head {
    background-color: #333;
    height: 60px;
}

#logo {
    margin-top: 5px;
}

#sign_out {
    padding: 0 30px;
    height: 10px;
}

.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right_side {
    float: right;
}

.head_items {
    display: inline;
    margin: 17px 0px;
}

.head_icon {
    color: #fff;
    margin-top: 6px;
}

#search_box {
    margin-left: 5px;
    background-color: #000;
    padding: 0px 3px;
}

#search_items {
    padding: 5px;
    width: 150px;
    background-color: #000;
    color: #fff;
}

#head_search_field {
    padding: 7px;
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
}

#nav_profile {
    text-align: center;
}

#profile_pic {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px 25px 0 0;
}

#profile_name {
    display: inline-block;
}

#nav_menu {
    width: 200px;
    border-right: 2px solid black;
    position: absolute;
    top: 60px;
    bottom: 0;
    color: #5D5C5C;
}

.nav_item {
    height: 40px;
    color: #ACA8A8;
    text-align: left;
    color: #5D5C5C;
    
    padding-top: 10px;
}

.nav_item a {
    color: #5D5C5C;
}

.nav_icon {
    color: #5D5C5C;
    padding: 0 10px;
    width: 30px;
    height: 30px;
}
.partial{
	margin-left: 220px;
}
.status_item{
	display: inline-block;
}
.status_item select{
	display: block;
	padding: 5px;
	margin-right: 30px;


}
#date{
	width: 150px;

}
#project{
	width: 300px;
}
#activity{
	width: 100px;
}
#hour,#time{
	width: 50px;
	margin-right: 0px;
}
.status_time{
	display: block;
}
#minute,#hour{
	display: inline-block;
}
.status_description label{
	display: block;
}
.status_description{
	padding: 30px 0;
}
.history_table{
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
.history_table_row{
	width: 300px;
}